language: objective-c
osx_image: xcode9.3
install:
  - bundle install
  - brew update
  - brew upgrade swiftlint
script:
  - bundle exec danger
  - xcodebuild -scheme Lumina -workspace Lumina.xcworkspace -destination 'platform=iOS Simulator,name=iPhone 7 Plus,OS=10.3.1'
  - xcodebuild -scheme Lumina -workspace Lumina.xcworkspace -destination 'platform=iOS Simulator,name=iPhone 7 Plus,OS=11.3'
